@model longDescripViewModel
@{
    ViewData["Title"] = "longDescrip";
}


<h1>@Model.pie.Name</h1>
<img src="@Model.pie.ImageThumbnailUrl" />
<h1>@Model.pie.PieId</h1>
<h1>@Model.pie.LongDescription</h1>


<h1></h1>
<h1></h1>

